body{
	width: 950px;
background-color: #4aef13;
}


ul li{
	list-style: none;
	float: left;
	margin: 5px;
}


ul li a:hover{
	background-color: red;
}

section article{
	padding-top: 30px;
}

small{

	font-style: italic;
}